<h1>Cartões Cadastrados</h1>

<a href="/jogos/{{jogo.id}}/novoConq">Cadastrar Conquista</a>

<table border="1">
  <!-- table row -->
  <tr>
    <!-- table head -->
    <th>titulo</th>
    <th>descrição</th>
  </tr>
  {{#each conq}}
    <tr>
     <td>{{this.id}}</td>
      <td>{{this.titulo}}</td>
      <td>{{this.desc}}</td>
    </tr>
  {{/each}}
</table>